h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

li {
    color: black;
    text-decoration: underline;
}

ul {
    font-style: italic;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}


.change_color {
    background-color: plum;
}

p {
    font-weight: 600;
    font-size: 3em;
}

body {
    font-size: 16px;
}

#Amarelo {
    background-color: yellow;
}
#Vermelho {
    background-color: red;
}
#Marrom {
    background-color: brown;
}