h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
ul {
    background-color: peru;
    font-style: italic;
    line-height: 30px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;

}
.change_color {
    background-color: plum;
}

p {
    font-weight: 600;
    font-size: 3em;
}

body {
    font-size: 16px;
}