body {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin:0;
    padding: 0;
}

p,
li {
    font-size: 16px;
    color: #475550;
}

.trybe-green {
    color: #11a36a;
}

.hero-title {
    color: #0a7e51;
    line-height: 55px;
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 30px;
}

.section-title {
    line-height: 42px;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 60px;
    margin-top: 10px;
}

.testimonial-name {
    line-height: 20px;
    font-weight: 600;
    font-size: 14px;
}

.picture {
    border-radius: 50%;
}

.button {
    color: #fff;
    background-color: #11a36a;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    font-weight: 700;
}
.header {
    background-image: url("images/smiling-image.jpg");
    background-size: cover;
    background-position: 50% 25%;
    padding: 60px 30px 40px 30px;
}

.header-content {
    max-width: 60%;
    margin-left: 75px;
}

.header-text {
    max-width: 80%;
    text-align: left;
}

.header-text p {
    margin-bottom: 30px;
}

.market {
    padding: 70px 30px;
    text-align: center;
}

.market-text {
    max-width: 60%;
    margin: auto;
}

.market-text p {
    margin-bottom: 30px;
}

.student-testimonial {
    padding: 30px 70px 90px 70px;
    width: 80%;
    margin: auto;
}

.studante-container {
    width: 30%;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
}

.studante-container p {
    margin:10px 0;

}