body {
    font-family: 'Montserrat', sans-serif;
}

p,
li {
    font-size: 16px;
    color: #475550;
}

.trybe-green {
    color: #11a36a;
}

.hero-title {
    color: #0a7e51;
    line-height: 55px;
    font-weight: 600;
    font-size: 45px;
}

.section-title {
    line-height: 42px;
    font-weight: 600;
    font-size: 28px;
}

.testimonial-name {
    line-height: 20px;
    font-weight: 600;
    font-size: 14px;
}

.picture {
    border-radius: 50%;
}

.button {
    color: #fff;
    background-color: #11a36a;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    font-weight: 700;
}