div:hover {
    border-style: solid;
    border-color: black;
}
/* 
#azul {
    color: blue;
    text-decoration: underline;
    font-size: large;
    font-style: italic;

}
#verde {
    color: green;
    text-align: center;
    text-decoration: line-through;
    font-size: medium;
}
#cinza {
    color: gray;
    text-align: right;
    text-decoration: overline;
    font-size: x-large;
    font-style: italic;

}
#preto {
    color: black;
    text-align: center;
    text-decoration: line-through;
    font-size: medium;
}
#rosa {
    color: plum;
    text-decoration: underline;
    font-size: large;    
    font-style: italic;
} */

  div:nth-of-type(1) {
    background-color: blue;
  }
  
  div:nth-of-type(2) {
    background-color: green;
  }
  
  div:nth-of-type(3) {
    background-color: orange;
    height: 50px;
  }
  
  div:nth-of-type(4) {
    background-color:darkgrey;
  }
  
  div:nth-of-type(5) {
    background-color: plum;
  }
  
  div:nth-of-type(2n+1) h3 {
    font-style: italic;
  }