.super-mario {
    height: 300px;
    position: absolute;
    top: 60px;
    left: 30px;
    z-index: 1;
}

.baloon {
    width: 180px;
    position: absolute;
    top: 650px;
    left: 50px;
    z-index: 4;
}

.goomba {
    height: 300px;
    position: absolute;
    top: 350px;
    left: 30px;
    z-index: 2;
}

.bowser {
    height: 300px;
    position: absolute;
    top: 650px;
    left: 200px;
    z-index: 3;
}

.word {
    position: absolute;
    top: 672px;
    z-index: 5;
    left: 54px;
    color: red;
    font-weight: 700;
}